<header class="site-header size-lg text-center" style="background-image: url(assets/img/bg-banner1.jpg)">
  <div class="container">
    <div class="col-xs-12">

      <h2>Hey, freelancer!<mark>GRAB</mark> your project!</h2>
      <h5 class="font-alt">Before someone else does.</h5>

    </div>

  </div>
</header>
