<section class="bg-alt">
  <div class="container">
    <header class="section-header">
      <span>Reasons to join</span>
      <h2>Independancy</h2>
      <p>Some key features</p>
    </header>

    <div class="category-grid">
      <a href="job-list-2.html">
        <i class="fa fa-line-chart"></i>
        <h6>Earn more</h6>
        <p>Raise your income by going freelance. Not ready for freelancing? Try payrolling instead!</p>
      </a>

      <a href="job-list-1.html">
        <i class="fa fa-eye"></i>
        <h6>Transparent rates</h6>
        <p>Employers <strong>must</strong> show their pay rate. So you know what you are applying for.</p>
      </a>

      <a href="job-list-3.html">
        <i class="fa fa-medkit"></i>
        <h6>No recruiters</h6>
        <p>Our aim is to turn third-party recruiters obsolete for freelance jobs. You must be free.</p>
      </a>
    </div>

  </div>
</section>
