<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container no-shadow">
    <h1 class="text-center">Blog</h1>
    <p class="lead text-center">We'll post some awesome news here!</p>
  </div>
</header>

<main class="container blog-page">

  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <article class="post">
        <div class="post-media">
          <a href="page-post.html"><img src="assets/img/blog-1.jpg" alt="..."></a>
        </div>

        <header>
          <h2><a href="#">How to be awesome</a></h2>
          <time datetime="2016-04-04 20:00">April 04, 2016</time>
        </header>

        <div class="blog-content">
          <p class="text-justify">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>

      </article>

    </div>

  </div>

</main>
