.demo-btn-margin .btn {
  margin-bottom: 6px;
}

.input-keyword {
  width: 100% !important;
}

.site-header {
  background: image-url("background-lg-woman-1.jpg") fixed left top;
}

.container-background-image {
  background: image-url("background-lg-woman-1.jpg") fixed left top;
}
